'menu': [
  {
    'label': 'Packages'
    'submenu': [
      {
        'label': 'Workspace Stash'
        'submenu': [
          {
            'label': 'Stash'
            'command': 'workspace:stash'
          },
          {
            'label': 'Apply'
            'command': 'workspace:apply'
          }
        ]
      }
    ]
  }
]
